<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="rate.css">
</head>
<body>
<div class="container-fluid">


<div class="row" id="head" align="center">
	<div class="col-md-12" align="center" id="rate"><b style="font-size: 40px">RATE A RESTAURANT</b></div>
</div></div>
<div class="container-fluid">
<div class="jumbotron" align="right" style="background-color:rgba(1,1,1,0.9);font-size: 30px;border-color: black;border-style: double; border-width: 3px;margin: 200px;border-radius: 35px;"><form action="/rateSubmit" method="get">
<div style="color:white;">Enter your name<input type="text" name="me" style="background-color: rgba(1,1,1,0.5);"></div><br>
<div style="color:white;">Enter the name of restaurant<input type="text" name="name" style="background-color: rgba(1,1,1,0.5);"></div><br>

<div style="color:white;">Rate for ambience<select style=" background-color: rgba(1,1,1,0.5);" name="ambience" type="number">
  <option >0</option>
  <option >1</option>
  <option >2</option>
  <option >3</option>
  <option >4</option>
   <option >5</option>
  <option >6</option>
  <option >7</option>
  <option >8</option>
  <option >9</option>
  <option >10</option>
</select></div><br>

<div style="color:white;">Rate for taste<select style=" background-color: rgba(1,1,1,0.5);" name="ambience" type="number">
  <option >0</option>
  <option >1</option>
  <option >2</option>
  <option >3</option>
  <option >4</option>
   <option >5</option>
  <option >6</option>
  <option >7</option>
  <option >8</option>
  <option >9</option>
  <option >10</option>
</select></div><br>


<div style="color:white;">Rate for service<select style=" background-color: rgba(1,1,1,0.5);" name="ambience" type="number">
  <option >0</option>
  <option >1</option>
  <option >2</option>
  <option >3</option>
  <option >4</option>
   <option >5</option>
  <option >6</option>
  <option >7</option>
  <option >8</option>
  <option >9</option>
  <option >10</option>
</select></div><br>

<input type="submit" style="background-color: rgba(1,1,1,0.5); color: white;">

</form><br>
<br>
<div class="row" align="center" >

<a href="/ranking"><button type="button" class="btn btn-default" style="background-color: rgba(1,1,1,0.5); color: white; height: 50px; width: 180px; font-size:20px;">View Ranking</button></a><br><br>


<a href="/"><button type="button" class="btn btn-default" style="color:white;border-color: white;background-color:rgba(1,1,1,0.5);font-size: 20px; height:50px;">Go to Home</button></a>
</div>

</div>

	
	


</div>
</body>
</html>